body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ff7b7b;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: #FFFFFF;
    position: absolute;
  top: 30;  /* Menempatkan teks di bagian atas */
  bottom: 80%;  /* Menempatkan teks di bagian bawah */
  left: 50%;  /* Memindahkan teks ke tengah secara horizontal */
  transform: translateX(-50%);  /* Menggeser teks agar tepat di tengah */
  font-size: 3em;
  text-align: center;
  transition: all 0.5s ease;
}

.gif_container img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}
